<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Missourian</string>
	<key>short-name</key>
	<string>Missourian</string>
	<key>uniqush</key>
	<string>missourian</string>
	<key>languages</key>
	<string>["en"]</string>
	<key>default-language</key>
	<string>en</string>
	<key>icon-large</key>
	<string>logo-missourian.png</string>
	<key>icon-small</key>
	<string></string>
	<key>icon-background-color</key>
	<string>#17479e</string>
	<key>launch-background-color</key>
	<string>#17479e</string>
	<key>navigation-bar-color</key>
	<string>#17479e</string>
	<key>navigation-text-color</key>
	<string>#FFFFFF</string>
	<key>show-author</key>
	<string>true</string>
	<key>login-required</key>
	<string>true</string>
</dict>
</plist>
