<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Kavshirebi</string>
	<key>short-name</key>
	<string>Kavshirebi</string>
	<key>uniqush</key>
	<string>risemd</string>
	<key>languages</key>
	<string>["ge"]</string>
	<key>default-language</key>
	<string>ge</string>
	<key>icon-large</key>
	<string>logo-rise.png</string>
	<key>icon-small</key>
	<string>icon-small.png</string>
	<key>icon-background-color</key>
	<string>#000000</string>
	<key>launch-background-color</key>
	<string>#272727</string>
	<key>navigation-bar-color</key>
	<string>#333333</string>
	<key>navigation-text-color</key>
	<string>#FFFFFF</string>
	<key>show-author</key>
	<string>false</string>
</dict>
</plist>
