<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hockey_app_id</key>
	<string>a6d2573c34e242cfafb77f371eaa40fb</string>
	<key>push_url</key>
	<string>https://push-meydan-prod.herokuapp.com</string>
</dict>
</plist>
