<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cms_base_url</key>
	<string>https://www.columbiamissourian.com/</string>
	<key>hockey_app_id</key>
	<string>0dce3b5dc14d4f0889881da636cead08</string>
	<key>push_url_prod</key>
	<string>https://missourian.pushapp.press</string>
	<key>push_url_dev</key>
	<string>https://missourian.pushapp.press</string>
	<key>push_url</key>
	<string>https://missourian.pushapp.press</string>
	<key>donation_url</key>
	<string></string>
</dict>
</plist>
